
<div class="container" align="center">
  <br>
  <div class="col-sm-10">
  <div class="card">
    <div class="card-header"><h4 class="d-flex justify-content-center">User Profile</h4></div>
    <div class="card-body">
      <div class="d-flex flex-row-between">
        <div class="col-sm-6">
          <img [src]="logo" alt="" width="150px" height="150px">
          <br>
        </div>
        <div>
          <h4 style="color:#00b1b1;"> {{ user.firstName }} {{user.lastName}} </h4>
          <p class="d-flex flex-row-reverse">{{user.role}}</p>
        </div>
      </div>
      <div class="box-body">
        <hr style="margin:15px 0 15px 0;">

        <div class="d-flex justify-content-between">
          <div>First Name:</div><div>{{user.firstName}}</div>
        </div>
        <div class="d-flex justify-content-between">
          <div>Last Name: </div><div>{{user.lastName}}</div>
        </div>
        <div class="d-flex justify-content-between">
          <div>Email:</div><div> {{user.email}}</div>
        </div>
        <div class="d-flex justify-content-between">
          <div> Status:</div><div>{{user.status}}</div>
        </div>
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" (click)="onClick()">Change password</a>
        </li>
        <div style="color:#999999;" >click here to change profile image</div>
        <div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div *ngIf="logo">
    <div class="remove m-auto d-flex" *ngIf="user.role === 'ADMIN'">
      <button type="button" (click)="removeUserLogo(user.user_id)" class="btn btn-outline-primary m-1 float-left">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="center m-4">

  </div>
</div>




