<div class="wrapper fadeInDown">
  <div class="fadeIn first">
    <h1>Forgot your password?</h1>
    <p>Don`t worry! Just fill in your email and we`ll send you a link to reset your password. </p>

    <form class="container" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-group fadeIn second">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="fadeIn third d-flex justify-content-center">
        <button type="submit" class="btn btn-primary " [disabled]="submited">Submit</button>
      </div>
      <div *ngIf="submited">
        <h2 class="text-warning">
          Check your email account!
        </h2>
      </div>
    </form>
  </div>
</div>


