<div class="container">
  <div class="title text-center m-4">
    <h1>{{ problem?.title }}</h1>
    <p><i>{{ problem?.created_at | date: 'dd MMMM yyyy HH:mm' }}</i></p>
    <h4 class="d-flex justify-content-end">{{ problem?.status}}</h4>
    <div class="d-flex justify-content-end" *ngIf="user?.role == 'ADMIN'">
      <select id="changeStatus" class="form-control changeStatus" #problemStatus>
        <option selected>Choose status</option>
        <option>DONE</option>
        <option>IN_PROGRESS</option>
        <option>ACTIVE</option>
        <option>REJECTED</option>
      </select>
      <button type="submit" class="btn btn-primary"
              (click)="changeStatus(problem.problem_id, problemStatus.value)">Change</button>
    </div>
  </div>
  <div class="description p-5">
    <p [innerHTML]="problem?.description"></p>
  </div>
  <div class="votes d-flex justify-content-center">
    <h3>Votes: {{ problem?.votesCount }}</h3>
  </div>
  <div class="vote d-flex justify-content-center">
    <button class="btn btn-primary" *ngIf="user && !vote" (click)="voteOnClick()"  [disabled]="vote">
      Vote for this problem
    </button>
    <button class="btn btn-secondary" *ngIf="user && vote"  [disabled]="vote">
      You have already voted
    </button>
  </div>


  <div class="comments d-flex justify-content-center">
    <div class="detailBox">
      <div class="titleBox d-flex justify-content-center">
        <label>Comments</label>
      </div>
      <div class="actionBox" >
        <ul class="commentList" *ngIf="canLoadComments">
          <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
        </ul>
        <div class="addcomment">
          <input class="form-control" type="text" placeholder="Your comments" #content/>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary m-1" (click)="addComment(content.value)">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
