
.detailBox {
  width:70%;
  border:1px solid #bbb;
  margin:50px;
}
.titleBox {
  background-color:#fdfdfd;
  padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
  padding:10px;
  border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
  width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  width:18%;
}
.actionBox .form-group * {
  width:100%;
}
.taskDescription {
  margin-top:10px 0;
}
.commentList {
  padding:0;
  list-style:none;
  max-height:200px;
  overflow:auto;
}
.commentList li {
  margin: 0;
  margin-top:10px;
}


.commentText p {
  margin:0;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}
.actionBox {
  border-top:1px dotted #bbb;
  padding:10px;
}

.changeStatus{
  width: 175px;
}

.brd {
  border: 4px double black;
  background: #fc3;
  padding: 5px;
  margin: 3px;
}

div.domains {
  margin: auto;
  width: 500px;
}

button.editing {
  width: 140px;
}

div.description {
  width: 80%;
}
