<div class="wrapper fadeInDown">
  <div class="fadeIn first">
    <h1>Enter new password</h1>


    <form class="container" [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <input type="password" placeholder="password" formControlName="password" class="fadeIn second form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" placeholder="password" formControlName="password2" class="fadeIn third form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
        <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
          <div *ngIf="f.password.errors.notEqual">Passwords are not identical</div>
        </div>
      </div>

      <div class="fadeIn third d-flex justify-content-center">
        <button type="submit" class="btn btn-primary ">Submit</button>
      </div>
    </form>
  </div>
</div>


