<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
        <h3>Filter</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <h3>
        Problems
      </h3>

      <div>
        <button class="btn btn-primary" (click)="toggleVoteSorting()">
          Sort by votes
        </button>
        <button class="btn btn-primary" (click)="toggleDateSorting()" >
          Sort by date
        </button>
      </div>

      <div class="card bg-light m-3" *ngFor="let problem of getProblems(sort)" [routerLink]= "['/problem/', problem?.problem_id]" >
        <h5 class="card-header">
          <div class="d-flex justify-content-between">
            <h5>{{ problem?.title }}</h5>
            <h5>{{ problem?.status}}</h5>
          </div>
          <p><i>{{ problem?.created_at | date: 'dd MMMM yyyy HH:mm' }}</i></p>
        </h5>
        <div class="card-body">
          <p class="card-text">
            {{ problem?.description }}
          </p>
        </div>
        <div class="card-footer">
          Votes: {{ problem?.votesCount }}
        </div>
      </div>
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
