.card {
  cursor: pointer;
}

.border{
  border-style: groove;
  background-color: rgba(0,0,0,.03);
}

select{
  width: 150px;
}

p {
  margin-left: 5px;
}

.activestatus {
  color: #0037ff;
}

.donestatus {
  color: #11ff00;
}

.inprogress {
  color: #ff9900;
}

.rejected {
  color: #ff0000;
}


.pasivepage {
  background-color: #f1f1f1;
  color: black;
}

.activepage {
  background-color: #4CAF50;
  color: white;
}

p {
  font-family: Lato;
}
::ng-deep .text-highlight {
  background: yellow;
}

