<li>
  <div class="commenterName">
  <b>
    {{ comment?.user?.firstName }}
    {{ comment?.user?.lastName }}
  </b>
  </div>
  <div class="commentText">
    <p class="">
      <i>
        {{ comment?.content }}
      </i>
    </p>
    <div class="d-flex justify-content-between">
                <span class="date sub-text">
                {{ comment?.created_at | date: 'dd MMMM yyyy HH:mm' }}
                </span>
      <div>
        <button class="btn btn-primary" *ngIf="user && !commentVote" (click)="voteCommentOnClick()" [disabled]="commentVote">
          Vote
        </button>
        <button class="btn btn-danger" *ngIf="user && commentVote" (click)="unVoteCommentOnClick()" [disabled]="!commentVote">
          Unvote
        </button>
        {{ comment?.votes }}
      </div>
    </div>
  </div>
</li>
